@import "../styles/color.scss";

.details
{
  background-color: black;
  height: 110px;
}

.details_list
{
text-align: center;
width: 100%;
}


.details_item
{
 display: inline-block;
 font-size: 20px;
 text-align: center;
 padding-left: 80px;
 padding-right: 80px;
 line-height: 110px;
}

.details_box
{
display: flex;
flex-direction: row;
height: 110px;
font-family: Fjalla One;
font-weight: 700;
}

.details_box_icon
{
  height: 110px;
  font-size: 50px;
  color: $primarycolor;
}

.details_box_content
{
  display: flex;
  flex-direction: column;
}

.details_box_label
{
  text-align: left;
  height: 20px;
  color: white;
  font-size: 15px;
  display: inline-block;
  font-style: Open-Sans;
}

.details_box_value
{
height: 20px;
font-size: 15px;
color: $primarycolor;
}
