$primarycolor : #ffd41d;


.logo
{
  display: flex;
  flex-direction: row;
  font-size: 75px;
  color: white;
  font-family: Open Sans;
  height: 140px;


  .logo_primary
  {
    width: 90px;
    background-color: $primarycolor;
    text-align: right;
  }

  .logo_secondary
  {
    width:320px;
    background-color: black;
    text-align: left;
  }

  .logo_secondary_subtitle
  {
  font-size: 30px;
  }

  .logo_secondary_subtitle-year
  {
    color: $primarycolor;
    font-size: 30px;

  }

}
