$icon-font-path: '../fonts/';
//mydefinitions

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../styles/nav.scss";
@import "../styles/_colors.scss";
@import "../styles/logo.scss";
@import "../styles/banner.scss";
@import "../styles/venue.scss";
@import "../styles/footer.scss";
@import "../styles/gallery.scss";
@import "../styles/details.scss";
@import "../styles/speakers.scss";


/* Space out content a bit */
html,body {
  width: 100%;
  height: 100%;
}
