article.banner
  nav.navbar
    ul.navbar_menu
      li.navbar_menu_item
        a(href="#").link.link-navbar Speakers
      li.navbar_menu_item
        a(href="#").link.link-navbar Gallery
      li.navbar_menu_item
        a(href="#").link.link-navbar Venue
      li.navbar_menu_item
        a(href="#").link.link-navbar Sponsors
      li.navbar_menu_item
        a(href="#").link.link-navbar Schedule
      li.navbar_menu_item
        a(href="#").link.link-navbar-btn Buy tickets
 
  div.landing
    section.logo
      div.logo_primary JS
      div.logo_secondary 
        div.logo_secondary_title Channel
        div.logo_secondary_subtitle Conference, 
          span.logo_secondary_subtitle-year 2017
   
    a(href='#').link.link-banner-btn Submit CFP  
    a(href='#').link.link-banner Become a Sponsor >
    a(href='#').link.link-banner Recap >   
  
  aside.details
    ul.details_list
      li.details_item
        div.details_box
          span.details_box_icon
            i.fa.fa-calendar-o
          label.details_box_label Date 
          span.details_box_value 28-29th July
      li.details_item
        div.details_box
          span.details_box_icon
            i.fa.fa-map-marker
          label.details_box_label Venue 
          span.details_box_value The Palms
      li.details_item
        div.details_box
          span.details_box_icon
            i.fa.fa-bullhorn
          label.details_box_label Speakers
          span.details_box_value 20 Speakers
      li.details_item
        div.details_box
          span.details_box_icon
            i.fa.fa-tags 
          label.details_box_label Tickets
          span.details_box_value x tickets left
