article
  nav
    ul
      li
        a(href="#") Speakers
      li
        a(href="#") Gallery
      li
        a(href="#") Venue
      li
        a(href="#") Sponsors
      li
        a(href="#") Schedule
      li
        a(href="#") Buy Ticket

 
  div
    section
      div JS
      div 
        div Channel
        div Conference, 2017
   
  a(href='#') Submit CFP  
  a(href='#') Become a Sponsor
  a(href='#') Recap   
  
  aside
    ul
      li
        div
        label Date 
        span 28-29th July
      li
        div
        label Venue 
        span The Palms
      li
        div 
        label Speakers
        span 20 Speakers
      li
        div Tickets    
  

// image font awesome in lower bar 
  
  
