.description.container-fluid
 .title.text-center TWO DAYS OF LEARNING!
 .subtitle.text-center join us for an opportunity to learn
 
 div.logocontainer
  .logobox
   img(src="images/icon.png").image 
   .head DATE
   .subtitle date here
   
  .logobox
   img(src="images/icon.png").image 
   .head DATE
   .subtitle date here

  .logobox
    img(src="images/icon.png").image 
    .head DATE
    .subtitle date here

   .logobox
    img(src="images/icon.png").image 
    .head DATE
    .subtitle date here
    
   .logobox
    img(src="images/icon.png").image 
    .head DATE
    .subtitle date here
