.gallery.container-fluid
 .heading Gallery
 .imagecontainer
  img(src="images/gallerytest.jpg").imagelarge
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  img(src="images/gallerytest.jpg").imagesmall
  
  
