.speakers.container-fluid.commonheight
 .head.text-center Meet Our Speakers
 
 .speakerblock
  .columnholder
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
  .columnholder
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox     
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
  .columnholder  
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
  .columnholder
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
  .columnholder
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
   .speakerbox
    img(src="images/speaker.png").speakerimage
    .hoverbox
