body {
    padding-bottom: 20px;
}

/* Navbar Section */
.navbar {
    height: 100px;
}
.navbar-collapse {
    margin-top: 44px;
    line-height: 36px;
}
.navbar-collapse a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #ffd527;
    vertical-align: middle;
    margin-left: 25px;
}
.button-buy-ticket {
	width: 135px;
	height: 36px;
	border-radius: 4px;
	background-color: #ffd527;
}
.button-buy-ticket span {
	width: 83px;
	height: 17px;
    font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #231f20;
}

/* Jumbotron Section */
.jumbotron {
    height: 650px;
    background-image: url(../assets/landing-image.jpg);
    background-size: 100% 650px;
    padding-top: 0px;
}

.overlay {
    height: 650px;
    background-image: url(../assets/overlay-black.png);
    background-size: 100% 650px;
}

.jschannel-logo{
    margin-top: 140px;
}

.cfp {
	width: 190px;
	height: 48px;
	border-radius: 4px;
	border: solid 1px #ffd31d;
    line-height: 48px;
    text-align: center;
    margin-top: 90px;
}

.cfp span {
    width: 124px;
	height: 25px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #ffd41d;
    vertical-align: middle;
}

.jumbotron .recap {
    margin-top: 39px;
}

.jumbotron .sponser {
    margin-top: 20px; 
}

.jumbotron .details {
    margin-top: 82px;
    /*width: 92px;*/
	height: 37px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
	line-height: 1.31;
	text-align: left;
	color: #ffd527;
}

.jumbotron .details .title {
    color: #ffffff;
}

.jumbotron .details .block {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.jumbotron .recap-2016, .jumbotron .become-a-sponser {
	width: 81px;
	height: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -0.3px;
	text-align: left;
	color: #ffd41d;
}