.schedule_tab
{
  width: 295px;
	height: 124px;
	background-color: #ffffff;
  margin-right: 20px;
  margin-top: 60px;
	color: #7e9099;
}.schedule_tab:active{
	background-color: #ffd41d;
  color: #000000;
}


.schedule_tab_title
{
  height: 44px;
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.62;
	text-align: center;
}

.schedule_tab_subtitle {
	height: 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 3.25;
	text-align: center;
}

.schedule_container
{
	height: 735px;
	background-color: #ffd41d;
  margin-top: 30px;
  align-items: center;
}

.schedule_heading
{
  height: 36px;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #ffd41d;
  text-transform: uppercase;
  margin-top: 100px;
}

.schedule_container_icon
{
width: 84px;
height: 84px;
border: 1px;
border-radius: 100%;
margin-top: 21px;
}

.schedule_container_holder
{
background-color: #ffffff;
height: 84px;
margin-top: 21px;
margin-left: 40px;
border-radius: 5px;
}

.complete
{
  margin-top: 30px;
  color: #ffd41d;
}
